<!doctype html>
<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" charset="utf-8" />  
    <link rel="icon" href="/assets/images/alex/favicon-16.png?v=2" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>


  <body>
    <% unless current_page.url == "/" %>
      <%= partial "layouts/partials/navigation" %>
    <% end %>

    <div class="container-fluid">
        <div class="row content-row">
        <div class="col-xl-8 offset-xl-2 align-self-center">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= partial "layouts/partials/footer" %>
  </body>

</html>