<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Karla:400,700">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lora:400,400i,700">
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>

  <div class="header">
    <%= partial "partials/_header" %>
  </div>

  <body>
    <%= yield %>
  </body>

  <div class="footer">
    <%= partial "partials/_footer" %>
  </div>

</html>
