---
title: alex ramos
---
<% content_for :body_class, 'class1' %>

<div class="row">
  <div class="col-lg">
    <div><%= image_tag 'work/portfolio1.jpg' %></div>
    <div><%= image_tag 'work/portfolio2.jpg' %></div>
    <div><%= image_tag 'work/portfolio3.jpg' %></div>
    <div><%= image_tag 'work/portfolio4.jpg' %></div>
    <div><%= image_tag 'work/portfolio5.jpg' %></div>
    <div><%= image_tag 'work/portfolio6.jpg' %></div>
    <div><%= image_tag 'work/portfolio7.jpg' %></div>
    <div><%= image_tag 'work/portfolio8.jpg' %></div>
    <div><%= image_tag 'work/portfolio9.jpg' %></div>
    <div><%= image_tag 'work/portfolio10.jpg' %></div>
    <div><%= image_tag 'work/portfolio11.jpg' %></div>
    <div><%= image_tag 'work/portfolio12.jpg' %></div>
    <div><%= image_tag 'work/portfolio13.jpg' %></div>
    <div><%= image_tag 'work/portfolio14.jpg' %></div>
    <div><%= image_tag 'work/portfolio15.jpg' %></div>
  </div>
</div>